/* Typography */
/* Some fonts from google fonts:
Montserrat
Libre Franklin
Roboto
PT Sans
PT Sans Narrow
Raleway
Lato
Open Sans*
Open Sans Condensed*
Roboto*
*/
html{
    font:1.5em/1.75 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
    margin-bottom:1.5rem;
}

/* condensed font for nav links */
nav {
    font-family: 'Open Sans Condensed', sans-serif;
}

img {max-width: 96%; height: auto;}