/* Typography */
/* Some fonts from google fonts:
Montserrat
Libre Franklin
Roboto
PT Sans
PT Sans Narrow
Raleway
Lato
Open Sans*
Open Sans Condensed*
Roboto*
*/
html{
    font:1.5em/1.75 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}
h1,h2,h3,h4,h5,h6,header,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
    margin-bottom:1rem;
}

/* condensed font for nav links */
nav {
    font-family: 'Open Sans Condensed', sans-serif;
}

img {max-width: 96%; height: auto;}

/* site header */

.siteheader {
    background: rgb(185, 163, 178);
    font-size: 0.5em;
    line-height: 2em;
    border-bottom: 1px solid rgb(112, 35, 73);
    
}
.siteheader a {
    display: block;
    background: url(../media/svg/lumbrikus-icons.svg#lumbrikus);
    background-repeat: no-repeat;
    text-decoration: none; color: rgb(112, 35, 73);
    background-position: .5rem center;
    background-size: auto 80%;
    padding: .5rem;
}
header h1 {
    color: black;
}
header h1, header p {
    padding-left: 3rem;
    margin: 0;
    font-weight: bold;
}

/* attachment page */

.attachment-page-image {
    padding: 1em;
}

.attachment-page-image figure {
    margin:0;
    padding: 1em;
    display: block;
    line-height: 1em;
    text-align: center;
    margin-bottom: 2rem;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: .25em;
    
}
.attachment-page-image figure p,
.attachment-page-image figure h1
 {
    font-family: "Open Sans Condensed", sans-serif;
    color: #333;
}

.attachment-page-image figure p {
    font-size: 1.25em;
}

.attachment-page-image figure p:last-child{
    margin-bottom: 0;
}

.attachment-page-image figure img {
    border: 1px solid gray;
    max-width: 90%;
    display: block;
    margin: auto;
    border: 1px solid black;
    position: relative;
    background: white;
    padding: 0.5em;
    margin-bottom: 1em;
}
.attachment-page-image .resolutions {
    font-family: "Open Sans Condensed", sans-serif;
}

body[class*="kapittel-hovedside"]::after {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.page-id-10 {
    background: url(/media/img/01-let-og-finn-bg.jpg);
}

.page-id-21 {
    background: url(/media/img/06-let-og-finn-bg.jpg);
}

/* unfinished */
.page-footer {display: none;}

.child-page-links.text ul {
    display: flex;
    width: auto;
    margin: auto;
    background: rgba(255,255,255,0.8);
    flex-direction: row;
    justify-content: center;
}

.child-page-links.text li {
    display: inline;
    margin: auto;
    flex-grow: 1;
}
.child-page-links.text li a {
    display: inline;
    margin: 0;
    border: 1px solid gray;
    display: inline-block;
    padding: .5rem;
    box-sizing: border-box;
    border-radius: .25em;
}

.child-page-links.textimage ul {
    list-style-type: none;
    padding: 0;
    margin:0;
}

.child-page-links.textimage a {
    padding: 0;
    margin:0;
    display: inline-block;
}

.child-page-links.textimage li {
    padding: 0;
    margin:1rem;
    display: inline-block;
    float: left;
}

.child-page-links.textimage figure {
    margin:0;
    padding: 1rem;
    width: 12rem;
    height: 12rem;
    border: 1px solid gray;
    background: #eee;
}

.child-page-links.textimage .imagewrapper {
    background-color: white;
    padding: .5rem;
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    width: auto;
    height: 8rem;
    position: relative;
    overflow: hidden;
}
.child-page-links.textimage .imagewrapper img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.child-page-links.textimage figcaption {    
    margin:0;
    text-align: center;
    min-height: 3rem;
}

.entry-title {
    position: absolute;
    top: 0;
    left: 10rem;
    right:0;
    font-size: 1.5rem;
    line-height: 3rem;
    padding-left: 0.5rem;
    display: block;
    background-color: rgba(255,255,255,0.1);
    border-left: 1rem solid rgba(255,255,255,0.2);

}

main.underside {
    padding: 1em;
}

.underside img {
    background: white;
    padding: .5rem;
    border: 1px solid black;
}