/* Typography */
/* Some fonts from google fonts:
Montserrat
Libre Franklin
Roboto
PT Sans
PT Sans Narrow
Raleway
Lato
Open Sans*
Open Sans Condensed*
Roboto*
*/
html{
    font:1.5em/1.75 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}
h1,h2,h3,h4,h5,h6,header,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
    margin-bottom:1rem;
}

a:link {
    color: rgb(0, 124, 255);
}
a:visited {}
a:hover {}
a:active {}

main {
    margin-bottom: 4rem;
}

.til-laereren-child main,
.til-laereren main,
.om-lumbrikus main, 
.til-foreldrene main,
.til-foreldrene-child main {
    padding: 0 1rem;
}

/* condensed font for nav links */
nav {
    font-family: 'Open Sans Condensed', sans-serif;
}

img {width: auto; height: auto;}

/* site header BEGIN */

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.siteheader {
    height: 2rem;
    font-size: 0.5em;
    line-height: 2rem;
    margin-bottom: .5rem;
    background: rgb(185, 163, 178);
    border-bottom: 1px solid rgb(112, 35, 73);
    
}
.siteheader a {
    display: block;
    text-decoration: none; color: rgb(112, 35, 73);
    padding: .2rem 0;
    font-size: 1em;
    box-sizing: border-box;
}

.siteheader .icon {
    position: relative;
    float:left;
    height: 1.6rem;
    width: 1.6rem;
    box-sizing: border-box;
    margin: 0 1em;
    overflow: visible;
}


.site-title {
        color: black;
        font-weight: normal;
    }

.site-title, 
.site-description,
.entry-title {
    font-family: "Open Sans Condensed", sans-serif;

}
.site-title,
.site-description {
    display: none;
    
}

.entry-title {
    color: black;
    position: absolute;
    top: .4rem;
    left: 2.5rem;
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0;
    display: block;
 
}

@media screen and (min-width: 30em)
{
    
    .site-title,
    .site-description {
        display: block;
        font-size: 0.8rem;
        line-height: .8rem;
        margin: 0;
    }   
    .entry-title {
        color: black;
        left: 6rem;

    }
}

/* site header END */


/* attachment page */

.attachment-page-image {
    padding: 1em;
}

.attachment-page-image figure {
    margin:0;
    padding: 1em;
    display: block;
    line-height: 1em;
    text-align: center;
    margin-bottom: 2rem;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: .25em;
    
}
.attachment-page-image figure p,
.attachment-page-image figure h1
 {
    font-family: "Open Sans Condensed", sans-serif;
    color: #333;
}

.attachment-page-image figure p {
    font-size: 1.25em;
}

.attachment-page-image figure p:last-child{
    margin-bottom: 0;
}

.attachment-page-image figure img {
    border: 1px solid gray;
    max-width: 90%;
    display: block;
    margin: auto;
    border: 1px solid black;
    position: relative;
    background: white;
    padding: 0.5em;
    margin-bottom: 1em;
}
.attachment-page-image .resolutions {
    font-family: "Open Sans Condensed", sans-serif;
}

/* video links begin */

main.page-filmer .entry-content > a {text-decoration: none; display:block; max-width: 30rem; margin:0 auto; padding: 0;}

main.page-filmer .entry-content {
    padding-top: 1rem;
}

figure.videolink {
    border: 1px solid black;
    line-height: 1.5rem
}

.videolink {
    border-radius:.5rem;
    padding:.5rem 1rem;
    
    margin: 2rem auto;
}

.videolink h2 {
    font-size: 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%,-1.4rem);
    border: 1px solid black;
    border-radius: 1rem;
    padding: .05rem .5rem;
    background: white;
    margin: auto;
    text-align: center;
    display:inline-block;
}

.videolink .tooltip {
    color: black;
    font-size: .75rem;
    line-height: 1em;
    margin: 0;
    display: block;
    text-align: center;
    position: relative;
    top: -1rem;
}

.videolink .videoposter {
    background: white;
    padding: .5rem;
    border: 1px solid #999;
    display: block;
    margin: auto;
    margin-bottom: .5rem;
    max-width: 90%;
    height: auto;
    max-width: calc(100% - 1rem);
}

.videolink figcaption {
    font-family: "Open Sans Condensed", sans-serif;
    padding: 0 1rem;
}

a:hover .videoposter,
a:focus .videoposter
{
    background: #ffce48;
}

a:hover .videolink figcaption,
a:focus .videolink figcaption {
    text-decoration: underline;
}


a:hover .videolink,
a:focus .videolink {
    background: whitesmoke;
    box-shadow: 0 0 .25rem gray;
}

/* video links end */

body[class*="kapittel-hovedside"]::after {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

body[class*="kapittel-hovedside"]::after {
    content: "";
    top:2rem;
    left:0;
    right:0;
    bottom: 1rem;
    position: fixed;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #333;
}

.kap-00::after {
    background: url(/media/img/00-den-rode-planeten-bg.jpg);
}
.kap-01::after {
    background: url(/media/img/01-let-og-finn-bg.jpg);
}
.kap-02::after {
    background: url(/media/img/02-let-og-finn-bg.jpg);
}
.kap-03::after {
    background: url(/media/img/03-let-og-finn-bg.jpg);
}
.kap-04::after {
    background: url(/media/img/04-let-og-finn-bg.jpg);
}
.kap-05::after {
    background: url(/media/img/05-let-og-finn-bg.jpg);
}
.kap-06::after {
    background: url(/media/img/06-let-og-finn-bg.jpg);
}
.kap-07::after {
    background: url(/media/img/07-let-og-finn-bg.jpg);
}
.kap-08::after {
    background: url(/media/img/08-let-og-finn-bg.jpg);
}
.kap-09::after {
    background: url(/media/img/09-let-og-finn-bg.jpg);
}
.kap-10::after {
    background: url(/media/img/10-let-og-finn-bg.jpg);
}
.kap-11::after {
    background: url(/media/img/11-farvel-bg.jpg);
}



/* unfinished */
.page-footer {
    display: static;
    position: relative;
    clear: both;
    font-size: 0.5rem;
    color: white;
    margin-bottom: 0;
    min-height: 1rem;
    background: #23282d;
    border-top: 1px solid black;
    padding:0;
}
.page-footer a {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.page-footer a:focus,
.page-footer a:hover
 {
    color: yellow;
    text-decoration: underline;
}

.footer-nav > ul {
    padding:0;
    margin:0;
    height: 100%;
    
}
.footer-nav > ul > li {
    margin:0;
    padding-left: 1em;
    display: inline;
    float: left;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
}

.footer-nav li ul {
    margin: auto;
}

body[class*="kapittel-hovedside"] .page-footer {
    position:fixed; 
    bottom:0;
    left:0;
    right:0;
}

body[class*="kort"] .page-footer,
body[class*="lang"] .page-footer,
body[class*="kviss"] .page-footer {
    display: none;
}

.child-page-links.text ul {

}

.child-page-links.text li {
}

.child-page-links.text a {
    text-decoration: none;
}

.child-page-links.text a:hover,
.child-page-links.text a:focus {
    text-decoration: underline;
}

.child-page-links.textimage ul {
    list-style-type: none;
    padding: 0;
    margin:0;
}

.child-page-links.textimage a {
    padding: 0;
    margin:0;
    display: inline-block;
}

.child-page-links.textimage li {
    padding: 0;
    margin:.5rem;
    display: inline-block;
    float: left;
}

.child-page-links.textimage figure {
    margin:0;
    padding: .5rem;
    width: 9rem;
    height: 9rem;
    border: 1px solid #ccc;
    background: #eee;
}

.child-page-links.textimage .imagewrapper {
    background-color: white;
    padding: .5rem;
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    width: 8rem;
    height: 6rem;
    position: relative;
    overflow: hidden;
    margin-bottom: .1rem;
}
.child-page-links.textimage .imagewrapper img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: 100%;
}

.child-page-links.textimage figcaption {
    margin:0;
    text-align: center;
    height: 3rem;
    font-size: 0.7rem;
    line-height: .8rem;
}



main.underside {
    padding: 1em;
}

.underside img {
    background: white;
    padding: .5rem;
    border: 1px solid black;
}

figure.ord {
    border: 1px solid gray;
    padding: 1rem;
    max-width: 30em;
    margin: auto;
    margin-bottom: 2rem;
}

figure.ord img {
    background: white;
    padding: .5em;
    border: 1px solid black;
    display: block;
    margin: auto;

}

figure.ord figcaption {
    text-align: center;


}

/* DEMO OF CHAPTER MENU */

.internal-chapter-links {
    font-size: 1em;
}

.internal-chapter-links svg.icon {
    width: 2em;
    height: 2em;
    display: inline-block;
    margin: auto;
    background:whitesmoke;
    border-radius: 100%;
    box-sizing: content-box;
    padding: .4rem;
    overflow: visible;
    border: 5px solid #ddd;
}

@keyframes svgiconhover {
    to {
        border-color: #3689ff;
    }
}

.internal-chapter-links a:hover svg.icon,
.internal-chapter-links a:focus svg.icon {
    animation-name: svgiconhover;
    animation-duration: .25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;    
}



.internal-chapter-links ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
}

.internal-chapter-links li {
    height: 2rem;
    width: 10rem;
    text-align: center;
    position: relative;
}

.internal-chapter-links a {
    text-decoration: none;
    color: black;
}

.internal-chapter-links a:focus .linktext,
.internal-chapter-links a:hover .linktext{
    font-weight: bold;
}

.internal-chapter-links span.linktext {
    display: inline-block;
    padding: .1rem .25rem;
    top: calc(100% + 1.3rem);
    left: 50%;
    transform:translate(-50%,0);
    line-height: 1rem;
    font-size: .75rem;
    visibility: hidden;
    text-align: center;
    background-color: #ffff9f;
    position: absolute;
    box-sizing: content-box;
    white-space: pre;
    border-radius: .5rem;
    min-width: 3rem;
    
}

@keyframes linktext {
    from {opacity:0;}
    to {opacity:1;}
}

.internal-chapter-links a:hover .linktext,
.internal-chapter-links a:focus .linktext {
    visibility: visible;
    animation-name: linktext;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.child-page-links.textimage a,
.child-page-links.textimage figure {
    text-decoration: none;
    border-radius: .5rem;
    font-weight: bold;
}


.child-page-links.textimage a:hover {
    box-shadow: 0 0 0.25rem #aaa;

}

.child-page-links.textimage a:hover figure,
.child-page-links.textimage a:focus figure {
    border-color: #999;
    background: #ffe;
}