/* main layout */
body {
    /* wip */
    overflow-x: hidden;
}


.invisible {display: none;}

/* show only one primary language/audio - change class on body to show another */
.audio_and_text,
.players .player {display: none;}
body.primary_lang_no .audio_and_text.no,
body.primary_lang_ar .audio_and_text.ar,
body.primary_lang_so .audio_and_text.so,
body.primary_lang_ti .audio_and_text.ti,
.players-no .player-no,
.players-so .player-so,
.players-ar .player-ar,
.players-ti .player-ti{
    display: block;
}


/* begin mejs */

.audio_and_text .mejs__time-buffering,
.audio_and_text .mejs__time-current,
.audio_and_text .mejs__time-handle,
.audio_and_text .mejs__time-loaded,
.audio_and_text .mejs__time-marker,
.audio_and_text .mejs__time-total,
.audio_and_text .mejs__time-hovered {
    height: 2px;
}

.audio_and_text .mejs__time-total {
    margin-top: 9px;
}
.audio_and_text .mejs__time-handle {
    left: -5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff;
    top: -5px;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 2;
    border: none;
}
.audio_and_text .mejs__time-handle-content {
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
}

/* skjul teksten som er nært avspillingskontrollen */

.cues::after {
    content: "";
    position: fixed;
    right:0;
    left: 0;
    bottom: 1.6em;
    height: .5em;
    z-index: 1;
    /* sjekk om dette får til å lagge, evt bruk hvit opak bakgrunn */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+70&0+0,1+70 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.mejs__audio {
    position: fixed !important;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto !important;
    z-index: 2;
    height: 2rem !important;
}

/* end mejs */

/* begin synced content */

/* each container for audio and text in #primary_language */
.audio_and_text {
    color: #434343;
    box-sizing:  border-box;
    position:relative;
    left: -.5em;
    padding-left: .5em;
    z-index:1;
}

article.audio_and_text .cues {
    position: relative;
    padding: 0;
    font-size: 1em;
    padding-top: 1em;
    padding-left: .5em;
    padding-right: .5em;
}

.key {
    box-sizing: border-box;
    line-height: 1.5;
}

.current-key {
    position: relative;
    color: black;
}
.current-key::after {
    content:"";
    position: absolute;
    top:-.4em;
    left:-.4em;
    right:-.4em;
    bottom:-.4em;
    background-color: #e9fdff;
    border: 1px solid #a1c2dc;
    border-radius: .1em;
    z-index: -2;
}

/* low level sync to sentence or sub-sentence level */
span[data-begin][data-end] {
    padding-left: .2em;
    padding-right: .2em;
    margin-left: -.2em;
    margin-right: -.2em;
}

.current-segment {
    background: #ffe92c;
    border-radius: .2em;
}

article {
    overflow-x: hidden;
    padding-bottom: 2rem;
}

.key p {margin-top:0; margin-bottom:.75em;}

/* end synced content */

/* begin translations */

/* background images in translation containers */
.kap-00-child #translation-bg, .kap-00-child div.showimage {background-image: url('/media/img/00-den-rode-planeten-bg.jpg'); background-color: #453b43;}
.kap-01-child #translation-bg, .kap-01-child div.showimage {background-image: url('/media/img/01-let-og-finn-bg.jpg'); background-color: #61bdfe;}
.kap-02-child #translation-bg, .kap-02-child div.showimage {background-image: url('/media/img/02-let-og-finn-bg.jpg'); background-color:#b7f3fe;}
.kap-03-child #translation-bg, .kap-03-child div.showimage {background-image: url('/media/img/03-let-og-finn-bg.jpg'); background-color: #e7d2b3;}
.kap-04-child #translation-bg, .kap-04-child div.showimage {background-image: url('/media/img/04-let-og-finn-bg.jpg'); background-color: #6be7b5;}
.kap-05-child #translation-bg, .kap-05-child div.showimage {background-image: url('/media/img/05-let-og-finn-bg.jpg'); background-color: #767b45;}
.kap-06-child #translation-bg, .kap-06-child div.showimage {background-image: url('/media/img/06-let-og-finn-bg.jpg'); background-color: #ffffff;}
.kap-07-child #translation-bg, .kap-07-child div.showimage {background-image: url('/media/img/07-let-og-finn-bg.jpg'); background-color:#38393d;}
.kap-08-child #translation-bg, .kap-08-child div.showimage {background-image: url('/media/img/08-let-og-finn-bg.jpg'); background-color: #abcdbf;}
.kap-09-child #translation-bg, .kap-09-child div.showimage {background-image: url('/media/img/09-let-og-finn-bg.jpg'); background-color: #f2f9ff;}
.kap-10-child #translation-bg, .kap-10-child div.showimage {background-image: url('/media/img/10-let-og-finn-bg.jpg'); background-color:#72d0ff;}
.kap-11-child #translation-bg, .kap-11-child div.showimage {background-image: url('/media/img/11-farvel-bg.jpg'); background-color:#3f649b;}

body.showimage .audio_and_text {
    margin-bottom: calc(50vh - 10rem);
}

body.showimage div.showimage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: fixed; 
    bottom: 2rem;
    overflow-x: scroll;
    left:0;
    right:0;
    display: block;
    padding-top: calc(40vh - 5rem);
    z-index: 20;
    border: 5px solid white;
    overflow:hidden;
}

body.showimage.fullscreen div.showimage {
    padding-top: calc(40vh - 3rem);
    
}

body.showimage-max div.showimage {
    top: 0;
    background-position: center center;
}

body.fullscreen.showimage-max div.showimage {
    top: calc(8.5vw + 2rem);
    background-position: center center;
}

@media screen and (min-width: 45em) {
    body.fullscreen.showimage-max div.showimage {
        top: 4.1rem;
        background-position: center center;
    }
}



div.showimage .buttons {
    position: absolute;
    top:-5px;
    right:5px;
    bottom: auto;
    left:auto;
    margin:auto;
    padding:0;
}

div.showimage button {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background: rgba(255,255,255,0.9);
    border: 2px solid black;
    margin:0;
    margin-top: 10px;
    padding:0;
}

div.showimage button .icon {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;
}

.showimage-maxmin .icon.minimize {
    display: none;
}

body.showimage-max .showimage-maxmin .icon.minimize {
    display: block;
}

body.showimage-max .showimage-maxmin .icon.maximize {
    display: none;
}

/* begin visualize sync */
#translation .key {
    margin: .75em;
    position: relative;
    top: 1em;
    display: block;
    background: rgb(255, 244, 212);
    box-sizing: border-box;
    padding: .5rem;
    max-height: calc(100% - 4rem);
    overflow-y: auto;
    border: 1px solid gray;
    box-shadow: 0 0 5px gray;
}

/* end visualize sync */

/* end translations */

/* begin language switch controls */

/* mobile first */

/* hide translation, show if there is enough screen space */

#audiosync-flexcontainer {
    display: flex;
    overflow: auto;
    flex-flow: row nowrap;
}




.fullscreen #audiosync-flexcontainer {
    margin-top: calc(8.5vw + 1.5rem);
}



/*
.translation-container {
    display:none;
    position: relative;
    position: fixed;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 10%;
    background:white;
    z-index: 1;
}*/

#translation-language-container {
    display: none;
}

#translation-bg {
 background-size: contain;
 background-position: bottom 2rem center;
 background-repeat: no-repeat;
 position: fixed;
 display: block;
 left: 50%;
 right:0;
 bottom:0;
 top:0;
 z-index: -2;
}

/*#translation::after,*/
body:not(.fullscreen)::after {
    content:"";
    position: absolute;
    background: whitesmoke;
    top:0;
    height: 10.5rem;
    left: 0;
    right: 0;
    z-index: -1
}

body[data-secondary-lang="img"] #translation .key {
    display: none;
}

fieldset.langselect {
    display: block;
    padding:0 5px;
    margin:0;
    border:none;
    margin-bottom: 1em;
}

.langselect .fieldset-flexcontainer {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
}

.langselect legend {
    width: 100%;
    text-align: center;
    font-size: .75em;
    line-height: 1em;
    font-weight: bold;
    color: #444;
    position: relative;
}

@media screen and (min-width: 40em) {
    .translation-container {
        display:block;
    }
    .translation-container fieldset {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* style the buttons and radio inputs that look like buttons */
/* for mobiles, screen media, show only NO, AR, SO, TI with css pseudo class. Show the contents of the buttons when there is enough room */

@media screen {
    fieldset.langselect input[type="radio"] {display:none;}
}

@media screen {
    .radiofakebutton span {
        display:none;
    }
    .radiofakebutton.no::before {
        content:"No";
    }
    .radiofakebutton.ar::before {
        content:"Ar";
    }
    .radiofakebutton.so::before {
        content:"So";
    }
    .radiofakebutton.ti::before {
        content:"Ti";
    }
}

@media screen and (min-width: 40em) {
    /* sjekk breakpoint her */
    /* skjul .radiofakebutton ::after-content */
    .labelradiobtn .radiofakebutton::before {
        content:"";
    }
    .radiofakebutton span {
        display: inline;
    }
}

.fullscreen .siteheader,
/*.fullscreen .internal-chapter-links,*/

.fullscreen .siteheader {
    display: none;
}

.fullscreen .internal-chapter-links {
    position: fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 20;
}
body.fullscreen nav.internal-chapter-links span.linktext {
    display: none;
}

.fullscreen fieldset {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 10;
    background: whitesmoke;
    font-size: .6em;
    padding: .5em;
    padding-bottom: .6em;
    padding-top: 8.5vw;
    border-top: 1em solid whitesmoke;
    border-bottom: 1px solid #ccc;
}
.fullscreen fieldset legend {
    bottom: -8.5vw;
    font-size: .7em;
}


#original-language-container {
    width: 100%;
}

.fullscreen #original-language-container {
    margin-top: 1rem;
}

@media screen and (min-width: 45em) {
    .fullscreen fieldset {
        padding-top: 1.5rem;
        font-size: .7em;
    }
    .fullscreen fieldset legend {
        bottom: -1.5rem;
    }
    .fullscreen .internal-chapter-links li {
        width: 1.5rem;
        height: 1.5rem;
    }
    .fullscreen #audiosync-flexcontainer {
        margin-top: 3.75rem;
    }
}

@media screen and (min-width: 55em) {
    #translation-language-container {
        display: block;
    }
    #audiosync-flexcontainer > div {
        width: 50%;
    }

    .fullscreen fieldset#primary_language {
        left:0;
        right: calc(50%);
        padding-right: 10px;
    }

    .fullscreen fieldset#secondary_language {
        right:0;
        left: calc(50%);
        padding-left: 10px;

    }
    .mejs__audio,
    .cues::after {
        right: 50%;
    }

    .radiofakebutton span {
        display:none;
    }
    .radiofakebutton.no::before {
        content:"No";
    }
    .radiofakebutton.ar::before {
        content:"Ar";
    }
    .radiofakebutton.so::before {
        content:"So";
    }
    .radiofakebutton.ti::before {
        content:"Ti";
    }

    #translation {
        position:fixed;
        margin-top: 10rem;
        left:50%;
        right:0em;
    }

    body.fullscreen #translation {
        margin-top:0;
        top: 3.5rem;
    }

    body.showimage div.showimage {
        right: 50%;
    }

}

@media screen and (min-width: 65em) {
    /* sjekk breakpoint her */
    /* skjul .radiofakebutton ::after-content */
    .labelradiobtn .radiofakebutton::before {
        content:"";
    }
    .radiofakebutton span {
        display: inline;
    }
}

#btn-maxmin .minimize,
body.fullscreen #btn-maxmin .maximize {
    display: none;
}

body.fullscreen #btn-maxmin .minimize {
    display: block;
}

.togglebutton, .labelradiobtn {
    position: relative;
    line-height: 1.5em;
    color: black;
    flex-basis: 1.5em;
    flex-grow: 1;
    margin: .15em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.radiofakebutton, .togglebutton {
    border: 1px solid #888;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c1c1c1+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(193,193,193,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(193,193,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(193,193,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */
}

@media screen and (min-width: 40em) {
    .radiofakebutton {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    }

    .togglebutton, .labelradiobtn {
        line-height: .8em;
    }
    .labelradiobtn .radiofakebutton {
        display: flex;
        flex-flow: column nowrap;
    }
    .radiofakebutton span {
        font-size: .75em;
    }
    .radiofakebutton [lang="so"] {
        font-size: .6em;
    }
    .radiofakebutton span:first-of-type {
        font-weight: bold;
    }
    .radiofakebutton span:last-of-type {
        color:"#333";
        font-weight: normal;
    }
    .radiofakebutton {
        padding: .1em;
    }
}


.togglebutton:first-child,
.labelradiobtn:first-child {
    margin-left: 0;
}

.togglebutton:last-child,
.labelradiobtn:last-child {
    margin-right:0;
}

.radiofakebutton {
    border-radius: .5em;
    height: 100%;
}
.labelradiobtn::after,
.togglebutton::after {
    /* fix for making sure svg icon doesn't capture the click event (browser bug workaround) */
    content: "";
    background:transparent;
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.togglebutton .icon,
.radiofakebutton .icon {
    position: absolute;
    display: block;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin:auto;
}



:checked + .radiofakebutton::after,
.labelradiobtn:hover .radiofakebutton::after,
.labelradiobtn .radiofakebutton:focus::after {
    display: block;
    content:"";
    position: absolute;
    top: 100%;
    left: .25em;
    right: .25em;
    height: .25em;
    margin-top: .25em;
    border-radius: .25em;
    box-sizing: border-box;
}

.labelradiobtn:focus,
.togglebutton:focus {
    outline: none;
}

.labelradiobtn:focus .radiofakebutton, 
.togglebutton:focus {
    box-shadow: 0 0 0 5px orange;
}

.labelradiobtn:hover .radiofakebutton::after {
    
    background: #999;
}
    


.labelradiobtn :checked + .radiofakebutton::after {
    background: #444;
}

.labelradiobtn .radiofakebutton:focus::after {
    background:orangered;
}

:checked + .radiofakebutton {
    background: rgb(255, 206, 84); /* Old browsers */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffca5+0,ffbd3a+100 */
background: rgb(255,252,165); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,252,165,1) 0%, rgba(255,189,58,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,252,165,1) 0%,rgba(255,189,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,252,165,1) 0%,rgba(255,189,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffca5', endColorstr='#ffbd3a',GradientType=0 ); /* IE6-9 */

    border-color: #333;
}


@media screen and (min-width: 40em) {
    :checked + .radiofakebutton {
        background: rgb(255, 206, 84); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
    }
}


.togglebutton[aria-pressed="true"] {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c4ffa3+0,75ff95+100 */
background: rgb(196,255,163); /* Old browsers */
background: -moz-linear-gradient(top, rgba(196,255,163,1) 0%, rgba(117,255,149,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(196,255,163,1) 0%,rgba(117,255,149,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(196,255,163,1) 0%,rgba(117,255,149,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4ffa3', endColorstr='#75ff95',GradientType=0 ); /* IE6-9 */
}

/* end language switch controls */