
.translation-container {
    position: fixed;
    top: 1em;
    bottom: 0.5rem;
    left: 50%;
    right: 1rem;
    transform: translate(.5rem, 0);
    border-radius: .25em;
    width: auto;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #666;
    z-index: 2;
    background: white;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.translation-container::after {
    position: absolute;
    top: 100%;
    left:50%;
    transform: translate(-50%,0);
    display: block;
    margin-top: 0rem;
    color: rgba(255, 0, 0, 0.349);
    width: auto;
    font-size: .3em;
    content: "hastighetskontrol | språkvalg";
}




.radiofakebutton [lang="so"] {
    font-size: .8em;
}

.togglebutton, .radiofakebutton {
    position: relative;
    line-height: 1.5em;
    color: black;
    /*width: 3rem;
    height: 2rem;*/
    
    
/*    float:left;*/
    border: 1px solid #888;
    border-radius: .5em;
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    display: flex;
    flex-flow:column wrap;
}

.togglebutton {
    border-radius: 0;
}

.radiofakebutton span {
    /*display: block;*/
    text-align: center;
    /*font-size: .5em;*/
}

#btn-maxmin .minimize {
    display:none;
}

.fullscreen #btn-maxmin .minimize {
    display: inline-block;
}
.fullscreen #btn-maxmin .maximize {
    display:none;
}

#secondary_lang_img +.radiofakebutton,
.togglebutton {
    font-size: 1.5rem;
    position: relative;
}

.togglebutton .icon,
.radiofakebutton .icon {
    position: absolute;
    display: block;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin:auto;
}

/* button states */

@keyframes langbtnhoverfocus {
    to {
        background: rgb(252,234,187); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
    }
}

.radiofakebutton [lang="ti"],
.radiofakebutton [lang="ar"],
.radiofakebutton [lang="so"],
[id$="lang_no"] + .radiofakebutton [lang="no"] {
    font-weight: bold;
}

:checked + .radiofakebutton::after,
.radiofakebutton:hover::before,
.radiofakebutton:focus::before,
.togglebutton:before{
    display: block;
    content:"";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: .25em;
    margin-top: .25em;
    background: rgb(70, 70, 70);
    border-radius: .25em;
    box-sizing: border-box;
}



.togglebutton::before {
    background: white;
    border: 1px solid #aaa;
}

.togglebutton.on,
.togglebutton.on::before {
    border-color: black;
    box-shadow: 0 0 .3em #87FF87;
}

.togglebutton.on::before {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+12,00ff37+30,005b0a+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(0,255,55,1) 30%, rgba(0,91,10,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 12%,rgba(0,255,55,1) 30%,rgba(0,91,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 12%,rgba(0,255,55,1) 30%,rgba(0,91,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#005b0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.radiofakebutton:hover,
.radiofakebutton:focus,
.togglebutton:hover,
.togglebutton:focus {
    border-color: #222;
}

.radiofakebutton:hover::before,
.radiofakebutton:focus::before {
    background: rgba(70,70,70,0.4);
}

.radiofakebutton:hover,
.radiofakebutton:focus {
    background:white;
}

:checked + .radiofakebutton {
    background: rgb(252,234,187); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

.togglebutton:hover,
.togglebutton:focus {
   background:white;
}

.togglebutton.on {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c4ffa3+0,75ff95+100 */
background: rgb(196,255,163); /* Old browsers */
background: -moz-linear-gradient(top, rgba(196,255,163,1) 0%, rgba(117,255,149,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(196,255,163,1) 0%,rgba(117,255,149,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(196,255,163,1) 0%,rgba(117,255,149,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4ffa3', endColorstr='#75ff95',GradientType=0 ); /* IE6-9 */
}

/* new layout */
/* mobile first - only one language */
#lang_select {
    font-size: .5em;
}

#secondary_language {
    display:none;
}
.translation-container {
    display:none;
}

#lang_select fieldset {
    padding:0;
    margin:0;
    border: none;
    font-size: 1em;
    display:flex;
    justify-content: space-around;
    
}

#lang_select fieldset legend {
    width: 100%;
    text-align: center;
    font-size: .75em;
}

#lang_select fieldset label,
#lang_select fieldsetset button {
    flex: 0 1 15vw;
}

#lang_select fieldsetset button {
    width: 1em;
}
