body {
    overflow-x: hidden;
}

article.audio_and_text .cues {
    position: relative;
    padding: 0;
    font-size: 1rem;
}

.key {
    display: block;
    box-sizing: border-box;
    line-height: 1.5;
}

.playing {
    position: relative;
}
.playing::after {
    content:"";
    position: absolute;
    top:-.4em;
    left:-.4em;
    right:-.4em;
    bottom:-.4em;
    background-color: #ffffd1;
    border: 1px dashed rgb(185, 185, 185);
    z-index: -1;
}
.active-cue {
    background: rgba(255, 145, 0, 0.5);
    border-radius: .25em;
}

article {
    overflow-x: hidden;
    padding-bottom: 2rem;
}

/* low level sync to sentence or sub-sentence level */
.active-text-segment {
    position: relative;
    z-index: 1;
}

.active-text-segment::after {
    content:"";
    position: absolute;
    top:-.2rem;
    left:-.2rem;
    right:-.2rem;
    bottom:-.2rem;
    background-color: #9dff57;
    border: 1px solid #999;
    z-index: -1;
    border-radius: .25rem;
}

.key p {margin-top:0; margin-bottom:.75em;}

/*hide and show players*/

.players .player {
    display: none;
}

.players-no .player-no,
.players-so .player-so,
.players-ar .player-ar,
.players-ti .player-ti {
    display: block;
}

.secondary_lang_img .translation-container .key {display: none;}

.translation-container {
    position: fixed;
    top: 1em;
    bottom: 0.5rem;
    left: 50%;
    right: 1rem;
    transform: translate(.5rem, 0);
    border-radius: .25em;
    width: auto;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #666;
    z-index: 2;
    background: white;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/* background images in translation containers */
.kap-00-child .translation-container {background-image: url('/media/img/00-den-rode-planeten-bg.jpg'); background-color: #453b43;}
.kap-01-child .translation-container {background-image: url('/media/img/01-let-og-finn-bg.jpg'); background-color: #61bdfe;}
.kap-02-child .translation-container {background-image: url('/media/img/02-let-og-finn-bg.jpg'); background-color:#b7f3fe;}
.kap-03-child .translation-container {background-image: url('/media/img/03-let-og-finn-bg.jpg'); background-color: #e7d2b3;}
.kap-04-child .translation-container {background-image: url('/media/img/04-let-og-finn-bg.jpg'); background-color: #6be7b5;}
.kap-05-child .translation-container {background-image: url('/media/img/05-let-og-finn-bg.jpg'); background-color: #767b45;}
.kap-06-child .translation-container {background-image: url('/media/img/06-let-og-finn-bg.jpg'); background-color: #ffffff;}
.kap-07-child .translation-container {background-image: url('/media/img/07-let-og-finn-bg.jpg'); background-color:#38393d;}
.kap-08-child .translation-container {background-image: url('/media/img/08-let-og-finn-bg.jpg'); background-color: #abcdbf;}
.kap-09-child .translation-container {background-image: url('/media/img/09-let-og-finn-bg.jpg'); background-color: #f2f9ff;}
.kap-10-child .translation-container {background-image: url('/media/img/10-let-og-finn-bg.jpg'); background-color:#72d0ff;}
.kap-11-child .translation-container {background-image: url('/media/img/11-farvel-bg.jpg'); background-color:#3f649b;}

.translation-container::after {
    position: absolute;
    top: 100%;
    left:50%;
    transform: translate(-50%,0);
    display: block;
    margin-top: 0rem;
    color: rgba(255, 0, 0, 0.349);
    width: auto;
    font-size: .3em;
    content: "hastighetskontrol | språkvalg?";
}

.translation-container button span {display: block;}

.translation-container,
.secondary-controls2-title {
        border-radius: 1rem;
        border: 1px solid #4e4e4e;
}

.secondaryLangControls2 {text-align: center;padding-top: .8rem;/* margin-bottom: 1rem; */}
.translation-container button {/* margin: 0; */box-sizing: border-box;padding: .25rem .4rem;min-width: 17%;display: inline-block;font-size: .5rem;}
.translation-container button+button {margin-left: .5rem;}
.translation-container button span {text-align: center;}

#translation .key {
    position: absolute;
    top: 3.5rem;
    right: .5rem;
    left:  .5rem;
    background: rgba(255,255,255,0.9);
    box-sizing: border-box;
    padding: .5rem;
    max-height: calc(100% - 4rem);
    overflow-y: auto;
}


#translation .key:after,
 #translation .key:before{
    content:"";
    position:absolute;
    width: 1rem;
    height: 1rem;
    border: 4px solid #70a77c;
}

#translation .key:before {
    top: 0;
    left: 0;
    border-right:none;
    border-bottom: none;
}
#translation .key:after {
    bottom: 0;
    right: 0;
    border-top: none;
    border-left: none;
}



.audio_and_text {display: none;}
body.primary_lang_no .audio_and_text.no,
body.primary_lang_ar .audio_and_text.ar,
body.primary_lang_so .audio_and_text.so,
body.primary_lang_ti .audio_and_text.ti {
    display: block;
}

.audio_and_text {
    width: 50%;
    margin: 0;
    padding: 0.5rem;
    box-sizing:  border-box;
}

/* BEGIN Audio Player */

.audio_and_text .mejs__time-buffering,
.audio_and_text .mejs__time-current,
.audio_and_text .mejs__time-handle,
.audio_and_text .mejs__time-loaded,
.audio_and_text .mejs__time-marker,
.audio_and_text .mejs__time-total,
.audio_and_text .mejs__time-hovered {
    height: 2px;
}

.audio_and_text .mejs__time-total {
    margin-top: 9px;
}
.audio_and_text .mejs__time-handle {
    left: -5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff;
    top: -5px;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 2;
    border: none;
}
.audio_and_text .mejs__time-handle-content {
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
}


.cues::after {
    content: "";
    position: fixed;
    right: 50%;
    left: 0;
    bottom: 0;
    height: 2.7rem;
    background: white;
    z-index: 1;
}

.mejs__audio {
    position: fixed !important;
    right: 50%;
    left: 1rem;
    bottom: .5rem;
    width: auto !important;
    transform: translate(-.5rem,0);
    z-index: 2;
}

/* END Audio Player */

.invisible {display: none;}

@media screen {
    fieldset.langselect input[type="radio"] {display:none;}
}

.fakebutton {
    position: relative;
    line-height: 1rem;
}

.maxmin, .fakebutton, .imgbutton {
    color: black;
    width: 3rem;
    height: 2rem;
    margin: 5px;
    float: left;
    border: 1px solid gray;
    border-radius: .3rem;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

.maxmin {
    border-radius: 0;
}

.fakebutton span {
    display: block;
    text-align: center;
    font-size: .5rem;
}

#btn-maxmin .minimize {
    display:none;
}

.fullscreen #btn-maxmin .minimize {
    display: inline-block;
}
.fullscreen #btn-maxmin .maximize {
    display:none;
}

#secondary_lang_img +.fakebutton,
.maxmin {
    font-size: 1.5rem;
    position: relative;
}

.maxmin .icon,
.fakebutton .icon {
    position: absolute;
    display: block;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin:auto;
}

/* button states */

@keyframes langbtnhoverfocus {
    to {
        background: rgb(252,234,187); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
    }
}

.fakebutton [lang="ti"],
.fakebutton [lang="ar"],
.fakebutton [lang="so"],
[id$="lang_no"] + .fakebutton [lang="no"] {
    font-weight: bold;
}

:checked + .fakebutton::after,
.fakebutton:hover::before,
.fakebutton:focus::before {
    display: block;
    content:"";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: .25rem;
    margin-top: .25rem;
    background: rgb(70, 70, 70);
    border-radius: .25rem;
    
}

.fakebutton:hover::before,
.fakebutton:focus::before {
    background: rgba(70,70,70,0.4);
}

.fakebutton:hover,
.fakebutton:focus,
.maxmin:hover,
.maxmin:focus,
:checked + .fakebutton {
    background: rgb(252,234,187); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}
