/* main layout */
body {
    /* wip */
    overflow-x: hidden;
}


.invisible {display: none;}

/* show only one primary language/audio - change class on body to show another */
.audio_and_text,
.players .player {display: none;}
body.primary_lang_no .audio_and_text.no,
body.primary_lang_ar .audio_and_text.ar,
body.primary_lang_so .audio_and_text.so,
body.primary_lang_ti .audio_and_text.ti,
.players-no .player-no,
.players-so .player-so,
.players-ar .player-ar,
.players-ti .player-ti{
    display: block;
}


/* begin mejs */

.audio_and_text .mejs__time-buffering,
.audio_and_text .mejs__time-current,
.audio_and_text .mejs__time-handle,
.audio_and_text .mejs__time-loaded,
.audio_and_text .mejs__time-marker,
.audio_and_text .mejs__time-total,
.audio_and_text .mejs__time-hovered {
    height: 2px;
}

.audio_and_text .mejs__time-total {
    margin-top: 9px;
}
.audio_and_text .mejs__time-handle {
    left: -5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff;
    top: -5px;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 2;
    border: none;
}
.audio_and_text .mejs__time-handle-content {
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
}

/* skjul teksten som er nært avspillingskontrollen */

.cues::after {
    content: "";
    position: fixed;
    right:0;
    left: 0;
    bottom: 1.6em;
    height: .5em;
    z-index: 1;
    /* sjekk om dette får til å lagge, evt bruk hvit opak bakgrunn */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+70&0+0,1+70 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.mejs__audio {
    position: fixed !important;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto !important;
    /*right: 50%;*/
    /*transform: translate(-.5rem,0);*/
    z-index: 2;
}

/* end mejs */

/* begin synced content */

/* each container for audio and text in #primary_language */
.audio_and_text {
    color: #434343;
    box-sizing:  border-box;
    position:relative;
    z-index:1;
}

article.audio_and_text .cues {
    position: relative;
    padding: 0;
    font-size: 1em;
}

.key {
    display: block;
    box-sizing: border-box;
    line-height: 1.5;
}

.current-key {
    position: relative;
    color: black;
}
.current-key::after {
    content:"";
    position: absolute;
    top:-.4em;
    left:-.4em;
    right:-.4em;
    bottom:-.4em;
    background-color: #e9fdff;
    border: 1px solid #a1c2dc;
    border-radius: .1em;
    z-index: -1;
}

/* low level sync to sentence or sub-sentence level */
span[data-begin][data-end] {
    padding-left: .2em;
    padding-right: .2em;
    margin-left: -.2em;
    margin-right: -.2em;
}

.current-segment {
    background: #ffe92c;
    border-radius: .2em;
}

article {
    overflow-x: hidden;
    padding-bottom: 2rem;
}

.key p {margin-top:0; margin-bottom:.75em;}

/* end synced content */

/* begin translations */

/* background images in translation containers */
.kap-00-child .translation-container {background-image: url('/media/img/00-den-rode-planeten-bg.jpg'); background-color: #453b43;}
.kap-01-child .translation-container {background-image: url('/media/img/01-let-og-finn-bg.jpg'); background-color: #61bdfe;}
.kap-02-child .translation-container {background-image: url('/media/img/02-let-og-finn-bg.jpg'); background-color:#b7f3fe;}
.kap-03-child .translation-container {background-image: url('/media/img/03-let-og-finn-bg.jpg'); background-color: #e7d2b3;}
.kap-04-child .translation-container {background-image: url('/media/img/04-let-og-finn-bg.jpg'); background-color: #6be7b5;}
.kap-05-child .translation-container {background-image: url('/media/img/05-let-og-finn-bg.jpg'); background-color: #767b45;}
.kap-06-child .translation-container {background-image: url('/media/img/06-let-og-finn-bg.jpg'); background-color: #ffffff;}
.kap-07-child .translation-container {background-image: url('/media/img/07-let-og-finn-bg.jpg'); background-color:#38393d;}
.kap-08-child .translation-container {background-image: url('/media/img/08-let-og-finn-bg.jpg'); background-color: #abcdbf;}
.kap-09-child .translation-container {background-image: url('/media/img/09-let-og-finn-bg.jpg'); background-color: #f2f9ff;}
.kap-10-child .translation-container {background-image: url('/media/img/10-let-og-finn-bg.jpg'); background-color:#72d0ff;}
.kap-11-child .translation-container {background-image: url('/media/img/11-farvel-bg.jpg'); background-color:#3f649b;}

/* begin visualize sync */
#translation .key {
    position: absolute;
    top: 3.5rem;
    right: .5rem;
    left:  .5rem;
    background: rgba(255,255,255,0.9);
    box-sizing: border-box;
    padding: .5rem;
    max-height: calc(100% - 4rem);
    overflow-y: auto;
}


#translation .key:after,
 #translation .key:before{
    content:"";
    position:absolute;
    width: 1rem;
    height: 1rem;
    border: 4px solid #70a77c;
}

#translation .key:before {
    top: 0;
    left: 0;
    border-right:none;
    border-bottom: none;
}
#translation .key:after {
    bottom: 0;
    right: 0;
    border-top: none;
    border-left: none;
}

/* end visualize sync */

/* end translations */

/* begin language switch controls */

/* mobile first */

fieldset.langselect {
    /*wip*/background:rgba(255,122,244,0.7);
    padding:0;
    border:none;
    display:flex;
    flex-flow: row nowrap;
}

.langselect legend {
    width: 100%;
    background:rgba(0,0,244,0.5);
    text-align: center;
}

/* style the buttons and radio inputs that look like buttons */
/* for mobiles, screen media, show only NO, AR, SO, TI with css pseudo class. Show the contents of the buttons when there is enough room */

@media screen {
    fieldset.langselect input[type="radio"] {display:none;}
}

@media screen {
    .radiofakebutton span {
        display:none;
    }
    .radiofakebutton.no::after {
        content:"No";
    }
    .radiofakebutton.ar::after {
        content:"Ar";
    }
    .radiofakebutton.so::after {
        content:"So";
    }
    .radiofakebutton.ti::after {
        content:"Ti";
    }
}

@media screen and (min-width: 30em) {
    /* sjekk breakpoint her */
    /* skjul .radiofakebutton ::after-content */
}

/* end language switch controls */