.mejs__container {
    position: top;
    bottom: 0;
    z-index: 100;
    width: 100% !important;
}

.mejs__container::before {
    content: "";
    display: block;
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.active-cue {
    background: yellow;
}

.mejs__chapters-button > .mejs__chapters-selector {
    width: 200px;
}

.mejs__captions-selector-label,
.mejs__chapters-selector-label {
    width: 100%;
}

.mejs__captions-position {
    position: fixed;
    top: 50%;
    margin-top: -12%;
    font-size: 4em;
    font-size: 4rem;
    z-index: -1;
}

.mejs__captions-position::before {
    position: fixed;
    content: "";
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */
    background: #cfe7fa;
    /* Old browsers */
    left: 0;
    right: 0;
    top: 0;
    bottom: 40px;
    z-index: -20;
}

.mejs__captions-layer {
    line-height: 1.8;
}

html .mejs__captions-text {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-shadow: 5px 0 0 rgba(0, 0, 0, 0.7), -5px 0 0 rgba(0, 0, 0, 0.7);
    box-shadow: none;
    border-radius: .25em;
}